.job-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.job-form input,
.job-form select,
.job-form textarea {
  padding: 0.6rem;
  font-size: 1rem;
}

.job-form button {
  padding: 0.7rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  font-size: 1rem;

}

.job-form button:hover {
  opacity: 0.9;
}
